PORT=3000
NODE_ENV=development

DATABASE_URL=postgresql://user:password@localhost:5432/booking
DATABASE_MIGRATIONS_URL=postgresql://user:password@localhost:5432/booking

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=viajespa_v4pdb
DB_PREFIX=v4p_j

STRIPE_API_KEY=sk_test_...
# Valor de `stripe listen --print-secret` o el whsec_... que muestra `stripe listen`
STRIPE_WEBHOOK_SECRET=whsec_...

FRONTEND_URL=http://localhost:3000
CURRENCY=EUR
